:root {
  --primary-color: #6c63ff;
  --secondary-color: #948ff7;
  --tertiary-color: #f9f7fe;
  --noir-color: #272142;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --playfair-font: "Playfair Display", serif;
  --poppins-font: "Poppins", sans-serif;
  --prime-transition: all 100ms ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--noir-color);
  font-family: var(--playfair-font);
  font-weight: bold;
}
p {
  font-family: var(--poppins-font);
  font-weight: normal;
  font-size: 16px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
}
.project-name {
  opacity: 70%;
  line-height: 30px;
}
.project-descption {
  padding: 120px 60px;
}
.detail-btn {
  font-family: var(--poppins-font);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 18px 25px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  transition: var(--prime-transition);
  border-radius: 4px;
}
.detail-btn:hover {
  color: white;
  background-color: var(--primary-color);
}
.hero {
  background: var(--tertiary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h1 {
  font-size: 80px;
  font-weight: bold;
}
.hero h2 {
  font-size: 24px;
  font-family: var(--poppins-font);
  font-weight: normal;
  line-height: 2;
  color: black;
}
.hero .hero-btn,
.about-btn {
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding: 18px 30px;
  background: var(--primary-color);
  font-family: var(--poppins-font);
  border-radius: 4px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
  transition: var(--prime-transition);
  text-decoration: none;
}
.hero:hover .hero-btn:hover {
  background: var(--secondary-color);
  color: white;
}
.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-family: var(--poppins-font);
  font-size: 18px;
  font-weight: bold;
}
.content-container p {
  line-height: 30px;
}
.content-container img {
  border-radius: 6px;
}
.inner-content {
  margin: 40px;
}
.content-container h3 {
  font-family: var(--poppins-font);
  line-height: 1.5;
  margin: 20px 0 0;
  font-size: 24;
  text-align: center;
}
.content-container h4 {
  font-weight: normal;
  font-size: 14px;
  font-family: var(--poppins-font);
  text-align: center;
  opacity: 0.6;
  margin-top: 5px;
}
@media (max-width: 800px) {
  .hero p {
    font-size: 24px;
  }
  .hero h1,
  .content-container h1 {
    font-size: 45px;
  }
  .work-content h1 {
    font-size: 32px;
    line-height: 1.5;
  }
  .hero h2,
  h2,
  .content-container p {
    font-size: 14px;
  }

  .hero .hero-btn,
  .about-btn {
    font-size: 12px;
    padding: 12px 24px;
  }
  .project-descption {
    padding: 0;
    text-align: center;
  }
  .detail-btn {
    font-size: 12px;
    padding: 12px 24px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .work-content {
    margin: 10px;
  }
  .content-container img,
  .work-content img {
    display: block;
    margin: 0 auto;
    max-width: 360px;
  }
}
